<header class="etm-header">
  <div class="banner">
    <div class="mask">
      <img src="{{logo.resource.rawUrl}}" alt="" class="src">

      <h1 class="with-color-tag">{{subTitle}}</h1>
    </div>
  </div>
</header>