<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {{> base}}
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/news.css" />
</head>

<body>
  {{> header}}

  <main class="page-news-detail">

  </main>

  {{> footer}}
</body>

</html>