<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {{> base}}
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/article.css" />
</head>

<body>
  {{> header}}

  <main class="page-article">
    <h1 class="with-color-tag">{{pageTitle}}</h1>

  </main>

  {{> footer}}
</body>

</html>