<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  {{> mobile_base}}
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/mobile/index.css" />
</head>

<body>
  {{> mobile_header}}


  {{> mobile_footer}}
  </script>
</body>

</html>