.page-article {
  & > h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin: 40px 0;
    &:after {
      text-align: center;
      margin: 18px auto 0;
    }
  }

  .more {
    display: block;
    width: 1200px;
    margin: 40px auto;
    background: #aaaaaa;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.page-article-detail {
  article.article {
    background: #ffffff;
    width: 1200px;
    margin: 40px auto;
    padding: 48px 30px;
    box-sizing: border-box;
  }
  div.article-share-top {
    background: #ffffff;
    width: 1200px;
    margin: 40px auto;
  }
  .article-title {
    font-size: 32px;
    color: #333333;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
  }
  .info {
    color: #a1a1a1;
    font-size: 14px;
    margin-bottom: 40px;
    .view-count {
      margin-left: 60px;
    }
    .icon-top {
      margin: 0 10px;
    }
    .icon-hot {
      vertical-align: middle;
    }
  }

  p {
    margin: 0 0 10px 0;
    color: #666666;
    font-size: 16px;
    line-height: 28px;
  }
  h1 {
    color: #333333;
    font-size: 40px;
    font-weight: normal;
    margin: 30px 0 40px 0;
  }
  h2 {
    font-size: 27px;
    color: #39a9ff;
    font-weight: normal;
    margin: 30px 0 20px 0;
    position: relative;
    span {
      background: #ffffff;
      position: relative;
      z-index: 2;
      padding-right: 20px;
    }
    &:after {
      content: "\20";
      display: block;
      width: 100%;
      height: 2px;
      background: #c5e6ff;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 20px;
    }
  }

  h3 {
    font-size: 20px;
    color: #222222;
    font-weight: bold;
    margin: 20px 0 10px 0;
  }
}

.page-article-list {
  .article-menu {
    width: 1200px;
    margin: 20px auto;
    a {
      font-size: 16px;
      padding: 5px 20px;
    }
    a.selected {
      color: #ffffff;
      background: #39a9ff;
      border-radius: 2px;
    }
  }
  .article-list {
    margin-bottom: 20px;
  }
}

.article-list {
  width: 1200px;
  background: #ffffff;
  margin: auto;
  .article-item {
    padding: 24px 24px 24px 268px;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    height: 200px;
    box-sizing: border-box;
    display: block;
    .article-cover {
      width: 220px;
      height: 150px;
      position: absolute;
      top: 24px;
      left: 24px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
    .article-title {
      font-size: 20px;
      font-weight: bold;
      color: #222222;
      line-height: 34px;
      margin-bottom: 14px;
      .icon-hot {
        margin-left: 5px;
      }
    }
    .article-info {
      color: #989da1;
      font-size: 14px;
    }
    .article-sub {
      position: absolute;
      bottom: 24px;
      color: #989da1;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      left: 0;
      padding: 0 24px 0 268px;
      box-sizing: border-box;
      .icon-eye {
        margin-right: 5px;
      }
      .icon-top {
        margin-right: 5px;
      }
    }
    &:hover {
      // box-shadow: 0 0 18px 3px #00000036;
      box-shadow: 0 5px 34px 0 rgba(0, 0, 0, 0.07);
    }
  }
}

.icon-hot {
  width: 26px;
  height: 34px;
  background: url(/images/icon-hot.png);
  background-size: contain;
  background-position: 50% 50%;
  display: inline-block;
  vertical-align: bottom;
}
.icon-top {
  color: #ff7300;
  font-size: 12px;
  border: 1px solid currentColor;
  border-radius: 2px;
  font-style: normal;
  padding: 0 2px;
}
.icon-eye {
  width: 18px;
  height: 12px;
  background: url(/images/icon-eye.png);
  background-size: contain;
  background-position: 50% 50%;
  display: inline-block;
  vertical-align: middle;
}

.article-share-top {
  padding: 24px;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  box-sizing: border-box;
  .shares-title {
    font-size: 20px;
    color: #333333;
    margin-bottom: 20px;
  }
  .shares-list {
    display: flex;
    justify-content: space-between;
    .share-item {
      width: 368px;
      height: 151px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      color: #ffffff;
      padding: 94px 0 0 18px;
      box-sizing: border-box;
      display: block;
      &:hover {
        box-shadow: 0 0 18px 3px #00000036;
      }
      .share-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 4px;
      }
      .share-content {
        font-size: 12px;
        max-width: 330px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.pagination {
  text-align: center;
  margin-bottom: 40px;
  font-size: 16px;
  color: #666666;
  a {
    border: 1px solid currentColor;
    padding: 5px 20px;
    border-radius: 2px;
    &:hover {
      color: #39a9ff;
    }
  }
}
