.intro {
  display: flex;
  height: 685px;
  background: #ffffff;
  &-photo {
    width: 50%;
  }

  &-text {
    width: 50%;
    padding: 68px 60px 32px;
    .intro-title {
      font-size: 32px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 12px;
    }
    .intro-sub-title {
      font-size: 16px;
      color: #000000;
      &:after {
        content: "\20";
        display: block;
        width: 38px;
        height: 4px;
        background: linear-gradient(-90deg, #4fccff, #2181fe);
        margin-top: 27px;
      }
    }
    .intro-content {
      position: relative;
      margin: 63px 0 90px;
      font-size: 14px;
      color: #999999;
      column-count: 2;
      column-gap: 42px;
      column-fill: auto;
      height: 247px;
      max-width: 600px;
      line-height: 24px;
      p {
        margin: 0;
        text-indent: 2em;
      }
      .intro-content-more {
        position: absolute;
        right: 50px;
        bottom: 0px;
        width: 154px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #4a4a4a;
        border: 2px solid;
        cursor: pointer;
        &:hover {
          color: #39a9ff;
        }
      }
    }

    .intro-link {
      display: flex;
      max-width: 600px;
      justify-content: space-around;
      .intro-link-item {
        text-align: center;
        flex-grow: 1;
        cursor: pointer;
        &:hover {
          .intro-link-title,
          .intro-link-sub-title {
            color: #39a9ff;
          }
        }
        .intro-link-title {
          font-size: 24px;
          color: #333333;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .intro-link-sub-title {
          font-size: 14px;
          color: #999999;
        }
      }

      .intro-link-item + .intro-link-item {
        border-left: 1px solid #e5e5e5;
      }
    }
  }
}

.products {
  padding: 60px 0;
  width: 1200px;
  margin: auto;
  color: #333333;
  text-align: center;
  overflow: hidden;
  .title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .sub-title {
    font-size: 16px;
    &:after {
      content: "\20";
      display: block;
      width: 38px;
      height: 4px;
      background: linear-gradient(-90deg, #4fccff, #2181fe);
      margin: auto;
      margin-top: 24px;
    }
  }

  .products-showcase {
    position: relative;
    margin-right: -60px;
    margin-top: 40px;
    margin-bottom: 40px;
    .slick-arrow {
      position: absolute;
      top: 96px;
      width: 24px;
      height: 60px;
      color: #b2b2b2;
      background: currentColor;
      overflow: hidden;
      outline: none;
      border: none;
      &:after {
        content: "\20";
        display: block;
        width: 11px;
        height: 20px;
        background: currentColor;
        z-index: 10;
        top: 20px;
        position: absolute;
        right: -3px;
      }
      &:before {
        content: "\20";
        z-index: 9;
        display: block;
        width: 11px;
        height: 11px;
        border: 1px solid #fff;
        position: absolute;
        left: 10px;
        top: 24px;
        transform: rotate(45deg);
      }
    }
    .slick-prev {
      left: 0;
      z-index: 10;
    }
    .slick-next {
      right: 60px;
      &:after {
        left: -2px;
      }
      &:before {
        left: auto;
        right: 9px;
      }
    }
    .product-item {
      display: block;
      outline: none;

      .product-title {
        width: 260px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
      }

      .product-img {
        width: 260px;
        height: 260px;
        background-color: #ffffff;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &.slick-active .product-img {
        box-shadow: 0 2px 34px 0 #0000000e;
      }
    }
  }

  .products-more {
    display: block;
    margin: auto;
    height: 40px;
    width: 154px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    border: 2px solid;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: #39a9ff;
    }
  }
}

.looks {
  background-image: url(/images/looks-background.png);
  background-position: 50% 50%;
  background-size: cover;

  .mask {
    padding: 66px 0 33px 0;
    margin: auto;
    color: #333333;
    text-align: center;
    height: 806px;
    box-sizing: border-box;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .title {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    &:after {
      content: "\20";
      display: block;
      width: 38px;
      height: 4px;
      background: linear-gradient(-90deg, #4fccff, #2181fe);
      margin: auto;
      margin-bottom: 40px;
      margin-top: 22px;
    }
  }
  .looks-content {
    width: 1200px;
    height: 600px;
    margin: auto;
    background: #00000017;
    padding: 25px 20px 0;
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    background-position: 50% 50%;
  }

  .looks-showcase {
    position: absolute;
    bottom: 0;
    left: 60px;
    margin-bottom: 25px;
    width: 1084px;
    .slick-arrow {
      position: absolute;
      top: 20px;
      width: 20px;
      height: 40px;
      color: #000000;
      background: currentColor;
      overflow: hidden;
      outline: none;
      border: none;
      &:after {
        content: "\20";
        display: block;
        width: 11px;
        height: 20px;
        background: currentColor;
        z-index: 10;
        top: 10px;
        position: absolute;
        right: -3px;
      }
      &:before {
        content: "\20";
        z-index: 9;
        display: block;
        width: 11px;
        height: 11px;
        border: 1px solid #fff;
        position: absolute;
        left: 8px;
        top: 15px;
        transform: rotate(45deg);
      }
    }
    .slick-prev {
      left: -40px;
      z-index: 10;
    }
    .slick-next {
      right: -37px;
      &:after {
        left: -3px;
      }
      &:before {
        left: auto;
        right: 8px;
      }
    }
    .look-item {
      display: block;
      outline: none;

      &.slick-current {
        .look-title {
          color: #39a9ff;
        }
        .look-img {
          box-shadow: 0 0 0 2px #39a9ff inset;
        }
      }

      .look-title {
        width: 144px;
        margin-top: 10px;
        font-size: 14px;
        color: #fff;
      }

      .look-img {
        width: 144px;
        height: 80px;
        background-color: #ffffff;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &.slick-active .product-img {
        box-shadow: 0 2px 34px 0 #0000000e;
      }
    }
  }
}

.pnews {
  padding: 58px 0;
  width: 1200px;
  margin: auto;
  color: #333333;
  text-align: center;
  .title {
    font-size: 32px;
    font-weight: 500;
    &:after {
      content: "\20";
      display: block;
      width: 38px;
      height: 4px;
      background: linear-gradient(-90deg, #4fccff, #2181fe);
      margin: auto;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  .news-more {
    display: block;
    margin: auto;
    height: 40px;
    width: 154px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    border: 2px solid;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: #39a9ff;
    }
  }

  .news-content {
    padding: 15px 0 15px 12px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    background: #ffffff;
    text-align: left;
    .news-item {
      width: 368px;
      height: 150px;
      flex-shrink: 0;
      flex-grow: 0;
      background: #dddddd;
      margin: 12px;
      background-position: 50% 50%;
      background-size: cover;
      padding: 18px;
      box-sizing: border-box;
      display: block;
      cursor: pointer;
      .news-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 75px;
      }
      .news-text {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
      }
    }
  }
}
